---
// src/components/TopBar.astro
---

<div id="topbar">
    <div class="top-left"></div>
    <div class="top-right">
        <div class="sys-item" id="volume-icon" onclick="retroBeep()">
            <img src="/icons/audio-volume-low.png" class="sys-icon" />
        </div>
        <div class="sys-item">
            <span id="clock"></span>
        </div>
    </div>
</div>
