---
// src/components/WindowControls.astro
export interface Props {
    windowId: string;
    closeFunction: string;
}

const { windowId, closeFunction } = Astro.props;
---

<div class="window-controls">
    <div class="min-btn" onclick={`minimizeWindow('${windowId}')`}>
        <img src="/icons/shade-inactive.png" alt="Minimize" />
    </div>
    <div class="max-btn" onclick={`maximizeWindow('${windowId}')`}>
        <img src="/icons/maximize-inactive.png" alt="Maximize" />
    </div>
    <div class="close-btn" onclick={`${closeFunction}()`}>
        <img src="/icons/close-inactive.png" />
    </div>
</div>
