---
import WindowControls from '../common/WindowControls.astro';
---

<div class="window" id="terminal">
  <div class="titlebar" onmousedown="drag(event, 'terminal')">
    <span class="titlebar-text">Terminal - victxrlarixs@Debian</span>
    <WindowControls windowId="terminal" closeFunction="closeTerminal" />
  </div>
  <div class="terminal-body" id="terminalBody"></div>
</div>
