---
import WindowControls from '../common/WindowControls.astro';
---

<div class="cde-retro-modal time-manager-window" id="timeManager">
  <div class="titlebar" id="timeManagerTitlebar" onmousedown="window.drag(event, 'timeManager')">
    <span class="titlebar-text">Time Configuration</span>
    <WindowControls
      windowId="timeManager"
      closeFunction="timeManager.close"
      disableMaximize={true}
    />
  </div>

  <div class="modal-body time-manager-body">
    <div class="time-main-container">
      <div class="time-section-left">
        <div class="time-icon-wrapper">
          <img src="/icons/gtkclocksetup.png" alt="Clock Icon" width="48" height="48" />
        </div>
      </div>

      <div class="time-section-right">
        <div class="time-settings-section">
          <div class="settings-group">
            <span class="group-label">TopBar Display Options</span>
            <div class="option-row">
              <input type="checkbox" id="tm-24h" checked onchange="timeManager.updateFormat()" />
              <label for="tm-24h">Use 24-hour format</label>
            </div>
            <div class="option-row">
              <input
                type="checkbox"
                id="tm-seconds"
                checked
                onchange="timeManager.updateFormat()"
              />
              <label for="tm-seconds">Show seconds</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cde-actionbar">
    <button class="cde-btn cde-btn-default" onclick="timeManager.close()">OK</button>
  </div>
</div>
