---
// src/components/desktop/BootSequence.astro
---

<div id="debian-boot-screen">
  <div class="header"></div>
  <div id="boot-log-container"></div>
  <div id="boot-progress-wrapper">
    <div id="boot-progress-label">INITIALIZING COMMON DESKTOP ENVIRONMENT...</div>
    <div id="boot-progress-track">
      <div id="boot-progress-bar"></div>
    </div>
    <div id="boot-progress-percent">0%</div>
  </div>
</div>
