---
// src/components/desktop/DesktopIcons.astro
---

<div id="desktop-icons-container">
  <!-- Icons will be injected here by desktop.ts -->
</div>

<style>
  /* Local overrides if needed, most styles are in components.css */
</style>
