---
// src/components/desktop/Panel.astro
import { CONFIG } from '../../scripts/core/config';
---

<div id="cde-panel">
  <div class="cde-menu-btn">
    <img src="/icons/Debian.png" alt="Menu" />
  </div>
  <div class="cde-sep"></div>

  <div class="cde-icon-block">
    <div class="cde-icon-buttons">
      <div class="cde-icon-btn dropdown-btn" id="terminalBtn">
        <img src="/icons/go-up.png" alt="arrow" class="arrow-icon" />
      </div>
      <div class="cde-icon-btn cde-textured-btn" id="fileManagerBtn"></div>
      <div class="cde-icon-btn cde-textured-btn" id="browserBtn"></div>
      <div class="cde-icon-btn dropdown-btn" id="styleManagerBtn">
        <img src="/icons/go-up.png" alt="arrow" class="arrow-icon" />
      </div>
      <div class="cde-icon-btn dropdown-btn" id="utilitiesBtn">
        <img src="/icons/go-up.png" alt="arrow" class="arrow-icon" />
      </div>
    </div>

    <div class="cde-icons">
      <div class="cde-icon" onclick="TerminalLab.open()" title="Open Terminal">
        <img src="/icons/konsole.png" alt="Terminal Lab" />
      </div>
      <div class="cde-icon" onclick="toggleFileManager()" title="File Manager">
        <img src="/icons/filemanager.png" alt="File Manager" />
      </div>
      <div class="cde-icon" title="Github Repo">
        <div onclick={`confirmExternalLink('${CONFIG.META.GITHUB_REPO}')`} style="cursor: pointer;">
          <img src="/icons/konqueror.png" alt="Browser" />
        </div>
      </div>
      <div class="cde-icon" onclick="styleManager.openMain()" title="Style Manager">
        <img src="/icons/org.xfce.settings.appearance.png" alt="Style Manager" />
      </div>
      <div class="cde-icon" id="utilitiesIcon" title="Run">
        <img src="/icons/applications-other.png" alt="Utilities" />
      </div>
    </div>
  </div>

  <div class="cde-sep"></div>

  <div class="cde-pager">
    <div class="pager-workspace active" data-workspace="1">One</div>
    <div class="pager-workspace" data-workspace="2">Two</div>
    <div class="pager-workspace" data-workspace="3">Three</div>
    <div class="pager-workspace" data-workspace="4">Four</div>
  </div>

  <div class="cde-scroll">
    <div class="scroll-btn">▲</div>
    <div class="scroll-btn">▼</div>
  </div>

  <div class="cde-sep"></div>

  <div
    class="tray-icon"
    id="screenshot-btn"
    onclick="captureFullPageScreenshot()"
    title="Take Screenshot"
  >
    <img src="/icons/org.xfce.screenshooter.png" alt="Camera" />
  </div>

  <div
    class="tray-icon"
    id="taskmanager-btn"
    onclick="openTaskManagerInTerminal()"
    title="Process Monitor (top)"
  >
    <img src="/icons/org.xfce.taskmanager.png" alt="TaskManager" />
  </div>

  <div class="tray-icon" onclick="TerminalLab.open()" title="Terminal Laboratory">
    <img src="/icons/computer.png" alt="Terminal Laboratory" />
  </div>
</div>

<div class="dropdown-menu" id="utilitiesDropdown">
  <div class="menu-item" onclick="captureFullPageScreenshot()">
    <img src="/icons/org.xfce.screenshooter.png" alt="" /> Screenshot
  </div>
  <div class="menu-item" onclick="openCalendar()">
    <img src="/icons/calendar.png" alt="" /> Calendar
  </div>
  <div class="menu-item" onclick="timeManager.open()">
    <img src="/icons/gtkclocksetup.png" alt="" /> Clock
  </div>
</div><div class="dropdown-menu" id="styleManagerDropdown">
  <div class="menu-item" onclick="styleManager.openColor()">
    <img src="/icons/org.xfce.settings.appearance.png" alt="" /> Color
  </div>
  <div class="menu-item" onclick="styleManager.openFont()">
    <img src="/icons/font-x-generic.png" alt="" /> Font
  </div>
  <div class="menu-item" onclick="styleManager.openBackdrop()">
    <img src="/icons/org.xfce.PanelProfiles.png" alt="" /> Backdrop
  </div>
  <div class="menu-item" onclick="styleManager.openKeyboard()">
    <img src="/icons/org.xfce.settings.keyboard.png" alt="" /> Keyboard
  </div>
  <div class="menu-item" onclick="styleManager.openMouse()">
    <img src="/icons/org.xfce.settings.mouse.png" alt="" /> Mouse
  </div>
  <div class="menu-item" onclick="styleManager.openBeep()">
    <img src="/icons/multimedia-volume-control.png" alt="" /> Audio
  </div>
  <div class="menu-item" onclick="styleManager.openWindow()">
    <img src="/icons/org.xfce.xfwm4.png" alt="" /> Window
  </div>
  <div class="menu-item" onclick="styleManager.openScreen()">
    <img src="/icons/display.png" alt="" /> Screen
  </div>
  <div class="menu-item" onclick="styleManager.openStartup()">
    <img src="/icons/gcr-key.png" alt="" /> Startup
  </div>
</div>

<div class="dropdown-menu" id="terminalDropdown">
  <div class="menu-item" onclick="openTerminal()">
    <img src="/icons/konsole.png" alt="" /> Terminal Automated
  </div>
  <div class="menu-item" onclick="openTaskManagerInTerminal()">
    <img src="/icons/org.xfce.taskmanager.png" alt="" /> Process Monitor
  </div>
  <div class="menu-separator"></div>
  <div class="menu-item" onclick="TerminalLab.open()">
    <img src="/icons/computer.png" alt="" /> Terminal Laboratory
  </div>
</div>
