---
// src/components/desktop/Panel.astro
---

<div id="cde-panel">
  <div class="cde-menu-btn">
    <img src="/icons/Debian.png" alt="Menu" />
  </div>
  <div class="cde-sep"></div>

  <div class="cde-icon-block">
    <div class="cde-icon-buttons">
      <div class="cde-icon-btn"></div>
      <div class="cde-icon-btn"></div>
      <div class="cde-icon-btn"></div>
      <div class="cde-icon-btn"></div>
      <div class="cde-icon-btn dropdown-btn" id="utilitiesBtn">
        <img src="/icons/go-up.png" alt="arrow" class="arrow-icon" />
      </div>
    </div>

    <div class="cde-icons">
      <div class="cde-icon" onclick="openTerminal()" title="Open Terminal">
        <img src="/icons/konsole.png" alt="Terminal" />
      </div>
      <div class="cde-icon" onclick="toggleFileManager()" title="File Manager">
        <img src="/icons/filemanager.png" alt="File Manager" />
      </div>
      <div class="cde-icon" title="Github Repo">
        <div
          onclick="confirmExternalLink('https://github.com/Victxrlarixs/debian-cde')"
          style="cursor: pointer;"
        >
          <img src="/icons/konqueror.png" alt="Browser" />
        </div>
      </div>
      <div class="cde-icon" onclick="styleManager.openMain()" title="Style Manager">
        <img src="/icons/org.xfce.settings.appearance.png" alt="Style Manager" />
      </div>
      <div class="cde-icon" id="utilitiesIcon" title="Run">
        <img src="/icons/org.xfce.session.png" alt="Utilities" />
      </div>
    </div>
  </div>

  <div class="cde-sep"></div>

  <div class="cde-pager">
    <div class="pager-workspace active">One</div>
    <div class="pager-workspace">Two</div>
    <div class="pager-workspace">Three</div>
    <div class="pager-workspace">Four</div>
  </div>

  <div class="cde-scroll">
    <div class="scroll-btn">▲</div>
    <div class="scroll-btn">▼</div>
  </div>

  <div class="cde-sep"></div>

  <div
    class="tray-icon"
    id="screenshot-btn"
    onclick="captureFullPageScreenshot()"
    title="Take Screenshot"
  >
    <img src="/icons/org.xfce.screenshooter.png" alt="Camera" />
  </div>
  <div
    class="tray-icon"
    title="Linux Tutorial"
    onclick="openTutorial()"
  >
    <img src="/icons/gedit.png" alt="Tutorial" />
  </div>
  <div
    class="tray-icon"
    id="taskmanager-btn"
    onclick="openTaskManagerInTerminal()"
    title="Process Monitor (top)"
  >
    <img src="/icons/org.xfce.taskmanager.png" alt="TaskManager" />
  </div>
</div>

<!-- Dropdown menu moved outside to avoid clipping by panel overflow/transform -->
<div class="dropdown-menu" id="utilitiesDropdown">
  <div class="menu-item" onclick="captureFullPageScreenshot()">
    <img src="/icons/org.xfce.screenshooter.png" alt="" /> Screenshot
  </div>
  <div class="menu-item" onclick="openTutorial()">
    <img src="/icons/gedit.png" alt="" /> Linux Tutorial
  </div>
  <div class="menu-item" onclick="openTaskManagerInTerminal()">
    <img src="/icons/org.xfce.taskmanager.png" alt="" /> Process Monitor
  </div>
</div>
